{% extends 'base.html' %}


{% block content %}


    <div class="d-flex justify-content-around align-items-center py-5 ">
        <div class="">
            <img src="https://i.ibb.co/qC3Y7RL/News-1.gif" alt="About Us Image">
        </div>
        <div class=" text-white">
            <h1>About Us</h1>
            <p class="fs-4"> <i>
                We are an online News Portal. 
                Dedicated to bring you latest news. <br>
                We have been operating successfully 
                FOR 6 Years Now. <br>
                Thank you for your love, 
                Stay with Us  <i class="fa-solid fa-heart"></i>
            </i>
              
            </p>
        </div>
       
    </div>
    
   




{% endblock %}