{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Inside your profile.html template -->
<style>
    body {
        background-color: #4747bf ;
background-image: linear-gradient(43deg, #4747bf 0%, #601d56 46%, #6f6149 100%) ;
    }

  

    h1 {
        color: white;
        
    }

    h2 {
        color: white;
        margin-top: 20px;

    }

    form {
        margin-bottom: 20px;
        color: white;
    }

    button {
        background-color: #4caf50;
        color: white;
        padding: 10px 15px;
        border: none;
        border-radius: 3px;
        cursor: pointer;
    }

    ul {
        list-style: none;
        padding: 0;
    }

    .p-img{
        width: 300px;
        height: 300px;

    }

   

 
</style>

<div class="">
    {% if request.user.is_staff %}
    <div class="row">
        <div class="col-6 g-5 ">
            <img class='p-img' src="{% static 'vector-design-avatar-dummy-sign-600nw-1290556063.webp' %}" alt="">
            <h1>Username: {{ user_model.username }}</h1>
            <h1>Email: {{user_model.email}}</h1>
            <h1>First Name: {{user_model.first_name}}</h1>
            <h1>Last Name: {{user_model.last_name}}</h1>
            <a class="btn btn-success" href="{% url 'update_profile' %}">Update Profile </a>
            <a class="btn btn-danger" href="{% url 'reset_password' %}">Change Password </a>
        </div>
        
        <div class="col-6 g-5">
            <a href="{% url 'addArticle' %}"><img src="https://i.ibb.co/qxFzQbp/yo.gif" alt=""></a>
            
            <h1 class="" >------Add Article------</h1>
        </div>
        {% else %}
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-6 g-5 ">
                <img class='p-img' src="{% static 'vector-design-avatar-dummy-sign-600nw-1290556063.webp' %}" alt="">
                <h1>Username: {{ user_model.username }}</h1>
                <h1>Email: {{user_model.email}}</h1>
                <h1>First Name: {{user_model.first_name}}</h1>
                <h1>Last Name: {{user_model.last_name}}</h1>

                <a class="btn btn-success" href="{% url 'update_profile' %}">Update Profile </a>
            </div>
        {% endif %}
    </div>
    



    
</div>

{% endblock %}