asgiref
crispy-bootstrap5
Django
django-crispy-forms
django-email
django-environ
pillow
psycopg2
sqlparse
tzdata
gunicorn
xhtml2pdf

arabic-reshaper
asgiref
asn1crypto
certifi
cffi
chardet
charset-normalizer
click
colorama
crispy-bootstrap5
cryptography
cssselect2
Django
django-crispy-forms
django-email
django-environ
html5lib
idna
lxml
oscrypto
pillow
psycopg2
pycparser
pyHanko
pyhanko-certvalidator
pypdf
pypng
python-bidi
PyYAML
qrcode
reportlab
requests
six
sqlparse
svglib
tinycss2
typing_extensions
tzdata
tzlocal
uritools
urllib3
webencodings
xhtml2pdf