{% extends 'base.html' %}
{% load static %}
{% block content %}

<style>
  .full-body{
    background-color: #4747bf ;
background-image: linear-gradient(43deg, #4747bf 0%, #601d56 46%, #6f6149 100%) ;

  }
  .card-img-top {
    max-width: 100%;
    height: 400px;
  }
  .mybtn{
  

  appearance: button;
  background-color: transparent;
  background-image: linear-gradient(to bottom, #fff, #f8eedb);
  border: 0 solid #e5e7eb;
  border-radius: .5rem;
  box-sizing: border-box;
  color: #482307;
  column-gap: 1rem;
  cursor: pointer;
  display: flex;
  font-family: ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 100%;
  font-weight: 700;
  line-height: 24px;
  margin: 0;
  outline: 2px solid transparent;
  padding: 1rem 1.5rem;
  text-align: center;
  text-transform: none;
  transition: all .1s cubic-bezier(.4, 0, .2, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  box-shadow: -6px 8px 10px rgba(81,41,10,0.1),0px 2px 2px rgba(81,41,10,0.2);

  text-decoration: none;

  background-color: #f3f4f6;
  box-shadow: -1px 2px 5px rgba(81,41,10,0.15),0px 1px 1px rgba(81,41,10,0.15);
  transform: translateY(0.125rem);



  box-shadow: rgba(72, 35, 7, .46) 0 0 0 4px, -6px 8px 10px rgba(81,41,10,0.1), 0px 2px 2px rgba(81,41,10,0.2);



  }
 
</style>

<div class="full-body">

  <div class="container ">
    <div class="row">
       
        <div class="col-md-3">
            <h1 class="mb-4 text-white ">Categories</h1>
            <ul class="list-group full-body">
                {% for category in categories %}
                <a href="{% url 'article_list_by_category' category_name=category.name %}">
                  <li class="mybtn list-group-item mt-3 ">
                    <a style="text-decoration: none;"  href="{% url 'article_list_by_category' category_name=category.name %}">
                      {{ category.name }}</a>
                </li>
                </a>
                    
                {% endfor %}
            </ul>
        </div>

        
        <div class="col-md-9">
            <h1 class="mb-4 text-white">Latest Articles</h1>
            <div class="row full-body ">
                {% for article in articles %}
                    <div class="col-md-6 mb-4">
                        <div class="card full-body">
                            
                            {% if article.photo %}
                                <img src="{{ article.photo.url }}" class="card-img-top" alt="{{ article.headline }}">
                            {% endif %}

                            <div class="card-body text-white">
                                <h2 class="card-title">{{ article.headline }}</h2>
                                <p class="card-text ">{{ article.body|truncatechars:50 }}</p>
                                <p class="card-text text-white">Topic : <span class="button-38">{{ article.category.name }}</span> </p>
                                <p>Average Rating: {{ article.average_rating}}</p>
                                <p class="card-text "><small class="text-white">Published Time: {{ article.publishing_time }}</small></p>
                                <a href="{% url 'article_detail' article.id %}" class="btn btn-light">Read More</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                {% if request.user.is_staff %}
                <div class="col-md-6 mb-4">
                  <div class="card full-body">
                      
                          <a href="{% url 'addArticle'  %}"> <img src="{% static 'yo.gif' %}" class="card-img-top" alt=""></a>
                         
                    

                      <div class="card-body text-white">
                        
                          <h1>----Add Article----</h1>
                      </div>
                      {% endif %}
                  </div>
              </div>
            </div>
        </div>
    </div>
</div>
</div>


{% endblock %}
